@import './../../styles/variables.scss';

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    a {
        display: flex;
        align-items: center;
        width: 50%;
        

        img {
            width: 10%;
            height: 10%;
        }

        .description {
            font-size: $fs24;
            width: 70%;
            color: $lightBlack;
            margin-left: 15px;
        }
    }

    .quantity {
        display: flex;
        gap: 7px;

        .minus,
        .plus {
            width: 20%;
            cursor: pointer;
        }
    }

    .price {
        font-size: $fs20;
        color: $lightBlack;
    }
}

@media (max-width: 768px) { 

    .cartItem {

        a {
            img {
                width: 50%;
                height: 50%;
            }
    
            .description {
                font-size: $fs12;
                width: 70%;
                margin-left: 15px;
            }
        }
    }


}

@media (max-width: 360px) {


    .cartItem {
        padding: 0;
        gap: 15px;
        a {
            flex-direction: column;
            img {
                width: 30%;
                height: 30%;
            }
    
            .description {
                font-size: $fs10;
                width: 170px;
            }
        }

        .quantity {
            display: flex;
            gap: 7px;

            .minus,
            .plus {
                width: 20%;
            }
        }

        .price {
            font-size: $fs20;
        }

        .close {
            width: 90px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}