@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './../../styles/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
    color: $lightBlack;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 100%;
    padding: 0 50px;

    .footerBlockInfo {
        display: flex;
        gap: 30px;

        .usefulLinksBlock {

            .usefulLinks {
                font-size: $fs18;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 1.8px;
                text-transform: uppercase;
            } 
            .usefulLinksUl {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

        }

        .usefulLinks {
            font-size: $fs18;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 1.8px;
            text-transform: uppercase;

            .lorem {
                margin-top: 30px;
                width: 255px;
                font-size: $fs14;
                font-weight: 400;
                line-height: 150%;
            }

            .footerLinks {
                display: flex;
                gap: 20px;
                margin-top: 21px;
            }
        }

        .usefulLinksUl {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    .developer {
        margin: 20px;
        display: flex;
        justify-content: space-between;
    }
    
}