.header {
    width: 1920px;
    position: absolute;
    top: 0;
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);

    .headerContainer {
        display: flex;
        margin: 0 auto;
        gap: 40px;
    }

    .logo {
        width: 216px;
        height: 52px;
    }

    .cartUser {
        cursor: pointer;
        display: flex;
        gap: 25px;
    }
    
    .cartUser>a {
        color: var(--white);
    }
}