@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './../../styles/variables.scss';

.header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: $white;

    .headerContainer {
        display: flex;
        margin: 0 auto;
        gap: 40px;
    }

    .logo {
        width: 216px;
        height: 52px;
    }

    .cartUser {
        cursor: pointer;
        display: flex;
        gap: 25px;
        
        a {
            color: $white;
        }
    }
    

}