@import '../../styles/variables.scss';

.productItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: calc((100% / 3) - 20px);
    border: 1px solid $lightBlack;
    border-radius: 10px;



    a {
        height: 300px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        h3 {
            font-size: $fs18;
            color: $lightBlack;
            word-wrap: break-word;
        }

        img {
            margin: 0 auto;
            width: 40%;
            height: 40%;
        }

        p {
            color: $lightBlack;
            font-weight: 600;
            font-size: $fs20;
        }
    }
}

@media (max-width: 768px) {
    .productItem {
        width: calc((100% / 2) - 20px);
    }
}


@media (max-width: 360px) { 

    .productItem {
        width: calc(100% );
        padding: 10px;
        a {
            h3 {
                font-size: $fs14;
            }
        }
    }

}