@import '../../styles/variables.scss';



.singleProduct {
    display: flex;
    padding: 50px;
    gap: 20px;
    margin-bottom: 60px;
    width: 80%;
    margin: 0 auto;
    min-height: 800px;

    img {
        width: 50%;
        height: 30%;
    }

    .descriptionBlock {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            font-size: $fs24;
            font-weight: 700;
            color: $lightBlack;

        }

        .description {
            font-size: $fs20;
            font-weight: 400;
            letter-spacing: 1.2;
        }

        .price {
            font-size: $fs24;
            font-weight: 600;
            border: 1px solid green;
            padding: 10px;
            border-radius: 10px;
            width: 40%;
            text-align: center;
        }

        .rating {
            font-size: $fs18;
            font-weight: 500;
        }
    }
}

@media (max-width: 768px) {
    
.singleProduct {
    display: flex;
    flex-direction: column;
    align-items: center;


    .descriptionBlock {
        align-items: center;


        h3 {
            text-align: center;
        }

        .description {
            text-align: center;
        }
    }
}

}


@media (max-width: 360px) { 
    .singleProduct {
        padding: 20px 20px;
        width: 100%;
        img {
            width: 50%;
            height: 30%;
        }
        .descriptionBlock {
            display: flex;
            flex-direction: column;
            gap: 30px;
            h3 {
                font-size: $fs18;
            }
    
            .description {
                font-size: $fs16;

            }
    
            .price {
                font-size: $fs20;
                width: 80%;
            }
        }
    }
     


}
