@import './../../styles/variables.scss';

.footer {
    width: 100%;
    padding: 0 50px;
    font-family: 'Montserrat', sans-serif;

    a {
        color: $lightBlack;
    }

    h3 {
        font-size: $fs18;
    }

    .footerBlockInfo {
        display: flex;
        gap: 20px;

        .usefulLinksUl,
        .lorem {
            padding-top: 20px;
        }

        .footerLinks {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
        }
    }

    .developer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {

    .footer {

        h3 {
            font-size: $fs14;
        }
    
        .footerBlockInfo {
            .usefulLinksUl,
            .lorem {
                font-size: $fs12;
            }

        }
    }

 }

 @media (max-width: 360px) {

    .footer {

        padding: 0 20px;

    
        h3 {
            font-size: $fs12;
        }
    
        .footerBlockInfo {
    
            .usefulLinksUl{
                font-size: $fs10;
                li {
                    
                        img {
                            width: 10px;
                            height: 10px;
                        }
                    
                }
            }

            .footerLinks {
                gap: 10px;

                li {
                    a{
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }

        }
    }

 }