@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './../../styles/variables.scss';

.catalogContainer {
    background-image: url('./../../images/bgRing.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    gap: 50px;
    font-family: 'Noto Serif', serif;

    .catalog {
        font-size: $fs36;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $white;
    }
}

