@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './../../styles/variables.scss';

.catalogContainer {

    height: 800px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    h1 {
        color: red;
    }

    .catalog {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

